<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <nav>
    <ul>
      {% for node in site.pages %}
      <li><a href="{{ node.url }}">{{ node.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <section class="container-lg px-3 my-5 markdown-body">
    {{ content }}
  </section>
  <footer>
    &copy; to me
  </footer>
  <script src="https://scratchblocks.github.io/js/scratchblocks-v3.6.0-min.js"></script>
  <script src="https://scratchblocks.github.io/js/translations-all-v3.6.0.js"></script>
  <script>
    scratchblocks.renderMatching('code.language-scratch', {
      style: 'scratch3',
      languages: ['en', 'pl'],
      scale: 0.75
    });
    scratchblocks.renderMatching('code.language-scratch-inline', {
      style: 'scratch3',
      languages: ['en', 'pl'],
      scale: 0.75,
      inline: true
    });
  </script>
</body>

</html>